{% extends 'base.html '%}

{% block content %}
{{ super() }}
<p>Cryptography is the practice of securing useful information while transmitting from one computer to another or storing data on a computer. </p>

<p>Cryptography deals with the encryption of plaintext into ciphertext and decryption of ciphertext into plaintext. Python supports a cryptography package that helps us encrypt and decrypt data. </p>

<p>The fernet module of the cryptography package has inbuilt functions for the generation of the key, encryption of plaintext into ciphertext, and decryption of ciphertext into plaintext using the encrypt and decrypt methods respectively. </p>

<p>The fernet module guarantees that data encrypted using it cannot be further manipulated or read without the key. </p>
<br>
<p>To learn more watch this:</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ovuM5Zmn7X0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<b><p><a href="https://www.geeksforgeeks.org/fernet-symmetric-encryption-using-cryptography-module-in-python/">Interested? Look here!</a></p></b>

{% endblock %}
